useDynLib(MOSAIC, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(parallel,detectCores)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,foreach)
importFrom(foreach,'%dopar%')
importFrom(ff,ff)
importFrom(ff,delete)
importFrom(compiler,cmpfun)
importFrom(cluster,fanny)
importFrom(combinat,permn)
