useDynLib(MOSAIC, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(parallel,detectCores)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,foreach)
importFrom(foreach,'%dopar%')
importFrom(ff,ff)
importFrom(ff,delete)
importFrom(compiler,cmpfun)
importFrom(cluster,fanny)
importFrom(maps,map)
importFrom(bit,clone)
importFrom(combinat,permn)
importFrom(LaF,laf_open_fwf)
importFrom(grDevices, col2rgb, dev.off, pdf, rgb)
importFrom(graphics, abline, arrows, axTicks, axis, barplot, hist, layout, legend, lines, locator, mtext, par, points, polygon, text)
importFrom(stats, cor, cutree, dist, hclust, optim, plogis, prcomp, qlogis, quantile, rbinom, rexp, rgamma, runif, sd)
importFrom(utils, read.delim, read.table, setTxtProgressBar, tail, txtProgressBar, write.table)
